* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}



:root {
    --color-hr-title: #FF9614;
    --color-cnt-title: #4E3969;
    --color-footer: #7C69A4;
}
iframe{
    width: 100%;
}

header {
    .container {
        max-width: 80rem;
        margin: 0 auto;
        text-align: center;
        padding: 10px;

        h1 {

            font-family: "Nerko One", sans-serif;
            color: var(--color-hr-title)
        }
    }
}

section {
    padding-bottom: 10px;
}

main {
    background-color: #ccc;
}

.container {
    max-width: 90%;
    margin: 0 auto;


    img {
        max-width: 100%;
    }


    ul {
        list-style: none;
        margin: 20px 0 5px 20px;

        li {
            padding-bottom: 10px;
        }
    }
}


.titoli {
    h3 {
        color: grey;
        font-size: smaller;
    }

    h1 {
        color: var(--color-cnt-title);
    }
}


.spiegazione {
    background-color: white;
    margin-bottom: 10px;
    box-shadow: inset;

    h3 {
        margin: 20px 0 5px 20px;

    }
}


.container {

    .contatti {
        display: flex;
        justify-content: space-between;
    }

    i {
        background-color: white;
        padding: 10px 15px;
        border-radius: 48%;
    }




    span {
        display: none;
    }

    .divisorio {
        height: 2px;
        background-color: var(--color-hr-title);
        margin: 5px 0 10px;
        max-width: 60px;
        border-radius: 10%;
    }

    .banner {
        display: none;
    }

    .tiramisu {
        max-width: 70%;
        margin: 0 auto;
    }
}






footer {
    background-color: var(--color-footer);
    color: white;

    .container {
        text-align: center;
        line-height: 30px;
    }

    a {
        margin: 0 10px;
        color: white;
    }
}

/* sopara i 768 */
@media screen and (min-width:768px) {
    header {


        .container {
            text-align: left;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            margin-right: 100px;
            margin-bottom: 20px;
        }
    }

    .container {
        i {
            padding: 9px 52px;
            border-radius: 50%;
        }

        .banner {
            display: block;
            margin: 20px 0;
        }

        .tiramisu {
            float: left;
            max-width: 30%;
            max-height: 20%;
            margin: 0 5px 0 0;
        }
    }



}

/* sopra i 992 */
@media screen and (min-width:992px) {

    .spiegazione {
        display: flex;

        img {
            height: 100%;
        }

        ul {
            display: flex;
            flex-direction: column;

            li {
                padding-bottom: 10px;
                margin: 0
            }
        }


    }


    .container {
        max-width: 80%;
        margin: 0 auto;

        i {
            display: flex;
            text-align: center;
        }

        span {
            display: block;
        }

    }

    footer {
        font-size: 10px;

        .container {
            line-height: 20px;
            max-width: 98%;
            display: flex;
            justify-content: space-between;

            .indicazioni {
                text-align: left;
            }

            .link {
                display: flex;
                align-self: center;
            }
        }
    }

}


